@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.bg{
    background-image: url("https://w0.peakpx.com/wallpaper/805/205/HD-wallpaper-holy-bible-note.jpg");
    background-size:cover;
    height:100vh;
    width:auto;
    background-position:center;
    block: solid;
}
.intro-card{
    text-align:center;
    background-color:white;
    height:200px;
    width:auto;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    font-family:"Bree Serif";
}
.head{
    font-size: 40px;
}
.para{
    font-size:25px;
    color:#808080;
}
.button{
    background-color:blue;
}
.secbg{
    background-image: url("https://www.freepik.com/free-ai-image/open-book-with-natural-element_320257250.htm#fromView=keyword&page=1&position=2&uuid=d4f300a8-7cb2-4ecc-aabc-888dd26b9051&query=Bible+background");
    background-size:cover;
    height:100vh;
    width:auto;
    background-position:center;
}
.sec-para{
    background-color:#bef5a4;
    border-color:#53873a;
    border-width:8px;
    font-family:"Bree Serif";
}
    
.rainbow {
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  color: white;
  padding: 12px;
  border-radius: 6px;
}


















