@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.bg{
    background-image: url("https://w0.peakpx.com/wallpaper/805/205/HD-wallpaper-holy-bible-note.jpg");
    background-size:cover;
    height:100vh;
    width:auto;
    background-position:center;
    block: solid;
}
.intro-card{
    text-align:center;
    background-color:white;
    height:200px;
    width:auto;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    font-family:"Bree Serif";
}
.head{
    font-size: 40px;
}
.para{
    font-size:25px;
    color:#808080;
}
.button{
    background-color:blue;
}
.secbg{
    background-image: url("https://res.cloudinary.com/dx5pk3s0u/image/upload/v1769587237/open-book-with-natural-element_kduxaf.jpg");
    background-size:cover;
    height:100vh;
    width:auto;
    background-position:center;
}
.sec-para{
    margin:40px;
    font-family:"Bree Serif";
    font-size:50px;
}
    
.rainbow {
  background: linear-gradient(
    90deg,
    rgba(255, 183, 77, 0.6),
    rgba(255, 224, 130, 0.6),
    rgba(165, 214, 167, 0.6),
    rgba(129, 212, 250, 0.6),
    rgba(179, 157, 219, 0.6)
  );
  backdrop-filter: blur(2px);
  color: #2b2b2b;
  padding: 12px 16px;
  border-radius: 10px;
}























